@model IEnumerable<MVCGorusOneriSistemiApp.Models.YetkiTalepler>
@using GridMvc.Html
@{
    ViewBag.Title = "Kontrol";
    Layout = "~/Views/Shared/_LayoutYetkili.cshtml";
}

<h2>Kontrol Sayfası</h2>
<hr />
@Html.Grid(Model).Columns(column =>
{
    column.Add(m => m.talepBaslik).Titled("Başlık");
    column.Add(m => m.birimAd).Titled("Birim");
    column.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => Html.ActionLink("Detay", "Detay", "Yetkili", new { id = o.id }, new { @class = "btn btn-dark btn-sm" }));
})
    @*withpadding eklenmedi*@

